<form [formGroup]="userForm" (submit)="submitFrom(userForm)" novalidate *ngIf="validation">
  <div>
    <label for="firstName"> First name</label>
    <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName">
  </div>
  <div>
    <label for="psw">Password</label>
    <input type="password" name="pws" id="psw" class="form-control" formControlName="psw" >
  </div>
  <div class="submit-btn">
    <button type="submit" class="btn btn-md btn-success " [disabled]="userForm.invalid"> Submit</button>
  </div>
</form>
